## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,0,Mataura,NZ,57.00,overcast clouds,-46.1927,168.8643,Ellie's Villa
1,1,Searcy,US,66.99,clear sky,35.2506,-91.7363,Holiday Inn Express & Suites Searcy
2,5,Lebu,CL,57.63,clear sky,-37.6167,-73.6500,Hostal Las Lilas
3,8,Ushuaia,AR,53.60,scattered clouds,-54.8000,-68.3000,Albatros Hotel
4,11,Shahjahanpur,IN,79.81,clear sky,27.8833,79.9167,OYO 37782 Hotel Shree Mahakali Palace

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.

#create a blank figure
fig = gmaps.figure(center=(60.0, -31.0), zoom_level=2)

#create a marker layer with an info box for each hotel 
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)

#add the marker layer to the figure
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

#Cities in NZ: Bluff, Dunedin, Christchurch, Te Anau

vacation_start = vacation_df.loc[vacation_df["City"]=="Christchurch"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Christchurch"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Dunedin"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Bluff"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Te Anau"]

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
#[lat,lng]...no []. That would indicate a list. I guess no indication of tuple other than the comma. And numpy?
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
#end = start
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure(center=(-43.5, 170.0), zoom_level=5.75)
city_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(city_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,579,Christchurch,NZ,60.01,scattered clouds,-43.5333,172.6333,The George
1,302,Dunedin,NZ,56.62,overcast clouds,-45.8742,170.5036,Scenic Hotel Southern Cross
2,47,Bluff,NZ,57.00,overcast clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
3,37,Te Anau,NZ,53.65,overcast clouds,-45.4167,167.7167,Kingsgate Hotel Te Anau
4,579,Christchurch,NZ,60.01,scattered clouds,-43.5333,172.6333,The George

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
locations

       Lat       Lng
0 -43.5333  172.6333
1 -45.8742  170.5036
2 -46.6000  168.3333
3 -45.4167  167.7167
4 -43.5333  172.6333

In [11]:
# 11a. Add a marker layer for each city to the map.

#create a blank map
fig2 = gmaps.figure(center=(-44.8, 169.9), zoom_level=6.5)

#set the marker layer with locations and hotel info
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)

#add the marker layer
fig2.add_layer(marker_layer)

# 11b. Display the figure
fig2

Figure(layout=FigureLayout(height='420px'))